[Unit]
Description=skarnet.org's small & secure supervision software suite
Documentation=https://skarnet.org/software/s6
After=network.target

[Service]
Type=simple
ExecStart=-@@S6_SVSCANBOOT_PATH@@/s6.systemd-boot @@S6_SCAN_DIR@@
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
