[Unit]
Description=S6 supervision tree
# Documentation=man:sshd(8) man:sshd_config(5)
After=network.target

[Service]
Type=notify
# EnvironmentFile=-/etc/sysconfig/sshd
ExecStart=-/lib/s6/s6-svscanboot /run/service
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
